<h3>Reimbursement History</h3>
<table class="striped responsive-table">
  <thead>
    <tr>
        <th>ID</th>
        <th>Submit Date</th>
        <th>Type</th>
        <th>Amount</th>
        <th>Description</th>
        <th>Status</th>
        <th>Resolve Date</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let r of reimbursementHistory">
      <td>{{ r.id }}</td>
      <td>{{ r.submitted }}</td>
      <td [ngSwitch]="r.type_id">
        <span *ngSwitchCase="0">Lodging</span>
        <span *ngSwitchCase="1">Travel</span>
        <span *ngSwitchCase="2">Food</span>
        <span *ngSwitchCase="3">Other</span>
      </td>
      <td>${{ r.amount }}</td>
      <td>{{ r.description }}</td>
      <td [ngSwitch]="r.status_id">
        <span *ngSwitchCase="0">Pending</span>
        <span *ngSwitchCase="1">Approved</span>
        <span *ngSwitchCase="2">Denied</span>
      </td>
      <td>{{ r.resolved }}</td>
    </tr>
  </tbody>
</table>
<p class="center" *ngIf="reimbursementHistory == null"> Nothing to display</p>
