<div id="Logout" class="modal">
  <div class="modal-content">
    <div class="row">
      <div class="input-field col s12">
        <p>Are you sure you want to log out?</p>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <button class="btn waves-effect waves-light" type="submit" (click)="logOut()">
          Log Out
          <!-- <i class="material-icons right">send</i> -->
        </button>
        <button class="btn waves-effect waves-light grey lighten-1" (click)="close()">
          Cancel
          <!-- <i class="material-icons right">send</i> -->
        </button>
      </div>
    </div>
  </div>
</div>
